{% if request.user.is_authenticated %}
<div class="sidebar p-3">
    <hr>

    <div class="mb-4 text-center">
        <strong>{{ request.user.username }}</strong>
    </div>

    <hr>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btn-block">
            Logout
        </button>
    </form>

    <hr>

    <nav class="nav flex-column mb-3">
        <a class="btn btn-outline-primary btn-block mb-2"
           href="{% url 'clinic:dashboard' %}">Dashboard</a>

        <a class="btn btn-outline-primary btn-block mb-2"
           href="{% url 'clinic:service-list' %}">Services</a>

        <a class="btn btn-outline-primary btn-block mb-2"
           href="{% url 'clinic:owner-list' %}">Owners</a>

        <a class="btn btn-outline-primary btn-block mb-2"
           href="{% url 'clinic:pet-list' %}">Pets</a>

        <a class="btn btn-outline-primary btn-block mb-2"
           href="{% url 'clinic:appointment-list' %}">Appointments</a>
    </nav>
</div>
{% endif %}
